.boutonBleu {
    display: inline-block;
    background-color: #208f8f;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color : white;
    border: none;
    border-radius: 20px;
    margin : 0.5em;
    text-decoration: none;
}

.boutonBleu:active {
    box-shadow: 3px 3px 1px rgba(38,42,53,0.8) inset, 0px 0px 2px rgba(10,10,10,0.5) inset;
}
.boutonBleu:hover{
    color : white;
    text-decoration: none;
}