.hide-bullets {
  list-style:none;
  margin-left:-40px;
  margin-top:20px;
}

div.container{
margin-top: 1%;
max-width: 100%;
height: auto;

}

.item .active item{
    max-widht:100%;
    height: auto ;
}

